/lab1/Sklep_6_1/nbproject/private/
/lab1/Sklep_6SE/nbproject/private/
/lab1/Sklep_6_1/build/
/lab1/Sklep_6SE/dist/
/lab1/Sklep_6SE/build/
/lab1/Sklep_6_2/nbproject/private/
/lab1/Sklep_6_2/build/
/lab1/Sklep_6_2/dist/
/lab1/Sklep_6_3/nbproject/private/
/lab1/Sklep_6_3/build/
/lab1/Sklep_6_3/dist/
/lab2/SklepPK_Lab2_EE/nbproject/private/
/lab2/SklepPK_Lab2_EE/SklepPK_Lab2_EE-ejb/nbproject/private/
/lab2/SklepPK_interfejs/nbproject/private/
/lab2/SklepPK_Lab2_Web/nbproject/private/
/lab2/Sklep_SE/Sklep_GuiPK_lab2_SE/nbproject/private/
/lab2/Sklep_SE/Sklep_GuiPK_lab2_SE/dist/
/lab2/Sklep_SE/Sklep_GuiPK_lab2_SE/build/
/lab2/Sklep_SE/Sklep_6SE/nbproject/private/
/lab2/Sklep_SE/Sklep_6SE/build/
/lab2/Sklep_GUIPK_lab2_EE_Desktop/nbproject/private/
/lab2/SklepPK_interfejs/build/
/lab2/SklepPK_Lab2_EE/SklepPK_Lab2_EE-ejb/build/
/lab2/SklepPK_Lab2_EE/build/
/lab2/SklepPK_interfejs/dist/
/lab2/SklepPK_Lab2_EE/SklepPK_Lab2_EE-ejb/dist/
/lab2/SklepPK_Lab2_Web/build/
/lab2/SklepPK_Lab2_Web/dist/
/lab2/Sklep_GUIPK_lab2_EE_Desktop/build/
/lab2/Sklep_GUIPK_lab2_EE_Desktop/dist/
/lab2/SklepPK_Lab2_EE/dist/
/lab3/Sklep_6SE/nbproject/private/
/lab3/Sklep_6SE_1/nbproject/private/
/lab3/Sklep_GuiPK_lab3_SE/nbproject/private/
/lab3/Sklep_GuiPK_lab3_SE/build/
/lab3/Sklep_6SE_1/build/
/lab3/SklepPK_interfejs_1/nbproject/private/
/lab3/SklepPK_Lab3_EE/nbproject/private/
/lab3/SklepPK_Lab3_EE/SklepPK_Lab3_EE-ejb/nbproject/private/
/lab3/Sklep_GUIPK_lab3_EE_Desktop/nbproject/private/
/lab3/SklepPK_Lab3_Web/nbproject/private/
/lab3/Sklep_6SE_1/dist/
/lab3/SklepPK_interfejs_1/build/
/lab3/SklepPK_interfejs_1/dist/
/lab3/SklepPK_Lab3_EE/SklepPK_Lab3_EE-ejb/build/
/lab3/SklepPK_Lab3_EE/SklepPK_Lab3_EE-ejb/dist/
/lab3/SklepPK_Lab3_EE/build/
/lab3/SklepPK_Lab3_Web/build/
/lab3/SklepPK_Lab3_Web/dist/
/lab3/Sklep_GUIPK_lab3_EE_Desktop/dist/
/lab3/Sklep_GUIPK_lab3_EE_Desktop/build/
/lab3/SklepPK_Lab3_EE/dist/
/lab4/Sklep_GuiPK_lab3_SE/dist/
/lab4/Sklep_6SE_1/build/